.content input::placeholder {
  color: black;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.main {
  max-width: 1500px;
  margin: auto;
}
.title {
  top: 60%;
  left: 50%;
  bottom: 100%;
  right: auto;
  margin-left: 5%;
}
.title h1 {
  color: rgb(254, 254, 255);
  font-size: 33px;
  font-stretch: ultra-expanded;
  text-shadow: transparent;
  font-style: oblique;
  letter-spacing: 6px;
  padding-top: 0.8%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: black;
}
.Loader {
  position: absolute;
  margin-top: 330px;

  width: 94%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 3em;
  overflow: hidden;
  color: rgb(2, 2, 2);
  background-color: #1ea9d3;
  z-index: 1000; /* Set a high z-index to ensure it's on top of other elements */
}
.loader .text {
  text-transform: capitalize;
}
.Loader .dots {
  display: flex;
  position: relative;
  top: 20px;
  left: -10px;
  width: 100px;
  animation: dots 2s ease infinite 1s;
}
.Loader .dots div {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: black;
}
.Loader .dots div:nth-child(1) {
  width: 0px;
  height: 0px;
  margin: 5px;
  margin-right: 15px;
  animation: show_dot 4s ease-in-out infinite 1s;
}
.Loader .dots div:nth-child(4) {
  background-color: transparent;
  animation: dot_fall_left 4s linear infinite 1s;
}
.Loader .dots div:nth-child(4):before {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: black;
  content: "";
  animation: dot_fall_top 4s cubic-bezier(0.46, 0.02, 0.94, 0.54) infinite 1s;
}
@keyframes dots {
  0% {
    left: -10px;
  }
  20%,
  100% {
    left: 10px;
  }
}
@keyframes sho-dots {
  0%,
  20% {
    width: 0px;
    height: 0px;
    margin: 5px;
    margin-right: 15px;
  }
  30%,
  100% {
    width: 10px;
    height: 10px;
    margin: 0px;
    margin-right: 10px;
  }
}
@keyframes dot_fall_left {
  0%,
  5% {
    left: 0;
  }
  100% {
    left: 200px;
  }
}
@keyframes dot_fall_top {
  0%,
  5% {
    top: 0;
  }
  30%,
  100% {
    top: 50vh;
  }
}
